In [2]:
from sklearn.metrics.cluster import adjusted_rand_score, silhouette_score
from sklearn.cluster import DBSCAN
import utils
from sklearn.neighbors import NearestNeighbors
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
from sklearn.preprocessing import MinMaxScaler, StandardScaler

In [3]:
# df, true_class = utils.load_preprocess_letters() 
# df, true_class = utils.load_preprocessing_catadata()
df, true_class = utils.load_preprocess_pendigit()
df.head()
# df = pd.DataFrame(scaler.transform(df))
# df_numeric._get_numeric_data()
# df_numeric.head()
np.unique(true_class).shape

(10,)

In [5]:
df.head()
# len(np.unique(true_class))

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15
0,47.0,100.0,27.0,81.0,57.0,37.0,26.0,0.0,0.0,23.0,56.0,53.0,100.0,90.0,40.0,98.0
1,0.0,89.0,27.0,100.0,42.0,75.0,29.0,45.0,15.0,15.0,37.0,0.0,69.0,2.0,100.0,6.0
2,0.0,57.0,31.0,68.0,72.0,90.0,100.0,100.0,76.0,75.0,50.0,51.0,28.0,25.0,16.0,0.0
3,0.0,100.0,7.0,92.0,5.0,68.0,19.0,45.0,86.0,34.0,100.0,45.0,74.0,23.0,67.0,0.0
4,0.0,67.0,49.0,83.0,100.0,100.0,81.0,80.0,60.0,60.0,40.0,40.0,33.0,20.0,47.0,0.0

In [ ]:
flat_list = [item for sublist in true_class for item in sublist]

In [5]:
# eps = 3.1
ARI = []
# epsilons = np.arange(0.01, 1, 0.01).tolist()
# #mushrooms params:
# eps = 2.5
# minpts = 4
# eps = 5.09
# minpts = 60
# eps = 3.8
# minpts = 680

#letter params
# eps = 0.5
# minpts = 8
# eps = 0.22
# minpts = 6

#cadata params:
# eps = 200
# minpts = 8

#pendigit params
eps = 40
minpts = 4

# for eps in epsilons:
clustring = DBSCAN(eps=eps, min_samples=minpts).fit(np.asarray(df))
predictions = clustring.labels_
# print("size of prediction ", len(predictions))
# print("size if true_class",len(flat_list))
ARI = adjusted_rand_score(true_class, predictions)
    
fig = plt.figure()
# ax = plt.axes()
# ax.plot(epsilons, ARI);
print(predictions[0:100])
print(true_class[0:100])
print("ari: ", ARI)
print("unique ground truth", np.unique(true_class))
print("unique predictions", np.unique(predictions))

[ 0  0  0  1  0  0  0  0  0  0  0  2 -1  0 -1  0  3  0  0  0  0  4  0  0
  0 31  0  0  0  0  2  0  0  0  0  0 19  4  0  0  0  0  0  0  0  0  0 17
  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0  0 -1  0  0  0  0  0
  0  2  0 -1 -1  0  0  0 -1  1  0  0  0  0  0  0  0  0  0  2  0 -1  0  0
  2  0 -1  0]
[26. 16. 19.  8.  8.  6. 14. 18. 13.  4. 22.  1. 11.  4. 19.  8.  5. 26.
 15. 17. 17. 12. 22. 24. 22. 13. 25.  4.  5. 14.  1.  4. 26. 14. 24.  6.
 14. 12. 14. 26. 25.  9. 23. 21. 15. 20. 15. 16.  3.  7.  2. 11. 23. 22.
 23.  8. 26. 10.  6.  4. 19. 20. 15. 26.  2.  6. 13. 20. 15. 11. 26. 20.
 23.  1. 17. 26.  8. 18.  9. 18. 21. 21.  3. 15.  5.  4. 21. 18.  5.  7.
  2.  1. 25. 25. 15.  7.  1.  3.  8. 18.]
ari:  0.008845289908193499
unique ground truth [ 1.  2.  3.  4.  5.  6.  7.  8.  9. 10. 11. 12. 13. 14. 15. 16. 17. 18.
 19. 20. 21. 22. 23. 24. 25. 26.]
unique predictions [-1  0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22
 23 24 25 26 27 28 29 30 31 32 33]

In [ ]:
neigh = NearestNeighbors(n_neighbors=4)
nbrs = neigh.fit(df)
distances, indices = nbrs.kneighbors(df)
distances = np.sort(distances, axis=0)
distances = distances[:,1]
plt.plot(distances)

In [ ]:
print("check", len(predictions[0:100]))

In [ ]:
print(eps)
print(minpts)

In [ ]:
from sklearn.datasets import load_svmlight_file

In [ ]:
data = load_svmlight_file("datasets/cadata.txt")[0]

In [ ]:
data, true_class = load_svmlight_file("datasets/cadata.txt")
df = pd.DataFrame(data.todense())
true_class = pd.DataFrame(true_class)

In [ ]:
df.head()